body{
  margin: 0;
  font-family: 'DM Sans', sans-serif;
}

#contenedor {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 600px 800px 600px 800px 400px 100px;
  grid-template-areas:
    "nav"
    "actua"
    "soluciones"
    "encuentra"
    "noticias"
    "contacto"
    "footer";
}

#header {
  display: grid;
}

#divSoluciones {
  display: grid;
  margin: 0;
  grid-area: soluciones;
  background-color: rgb(82,152,255);
  font-size: 24px;
  font-family: Verdana, sans-serif;
  height: 800px;
  padding: 0 0 0 300px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 200px 1fr 1fr 200px;
  grid-template-areas:
    "emptyLeft img1 text1 emptyRight"
    "emptyLeft text2 img2 emptyRight";
}

#solucionesImg1 {
  grid-area: img1;
  margin-top:10%;
  width: 100%;
  max-height: 80%;
  }

#divSolucionesOrganizaciones {
  grid-area: text2;
  margin: 0 20px;
  color:white;
  text-align: left;
  display:grid;
  grid-template-rows: 5% 20% 25% 15px 15% 1fr;
  grid-template-areas:
  "empty"
  "title"
  "text1"
  "break"
  "text2"
  "empty2"
}
#titleSolucionesOrganizaciones{
  grid-area: title;
}
#textSolucionesOrganizaciones1{
  grid-area: text1;
}
#textSolucionesOrganizaciones2{
  grid-area: text2;
}
 #titleSolucionesEmpresas{
   grid-area: title;
 }
#textSolucionesEmpresas1{
  grid-area:text1;
}
#textSolucionesEmpresas2{
  grid-area:text2;
}
 
#divSolucionesEmpresas {
  grid-area: text1;
  color: white;
  margin: 0 20px;
  text-align: left;
  display:grid;
  grid-template-rows: 15% 20% 3fr 2fr 15%;
  grid-template-areas:"empty1"
  "title"
  "text1"
  "text2"
  "empty2"
}

#solucionesImg2 {
  grid-area: img2;
  width: 100%;
  height: 60%;
}


#divEncuentra{
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 50px 100px 1fr;
  grid-template-areas: 
  "empty"
  "title"
  "text"
  "buttons"
}
#encuentraTitle{
  grid-area: title;
  text-align:center;
}
#encuentraText{
  grid-area: text;
  text-align:center;
}
#divEncuentraMain{
  grid-area: buttons;
  display:grid;
  margin: 0px 300px;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "voluntario donar reciclar llamados"
}

#encuentraVoluntario{
  margin: 0px 20px;
  grid-area: voluntario;
  width:300px;
  height:300px;
  background-color: crimson;
  border-radius: 30px;
  display:grid;
  grid-template-rows: 1fr 50px 1fr;
  grid-template-columns: 50px 1fr 50px;
  grid-template-areas:
  "icon void plus"
  "empty empty empty"
  "text text text"
}

#encuentraDonar{
  margin: 0px 20px;
  grid-area: donar;
  width:300px;
  height:300px;
  background-color: gold;
  border-radius: 30px;
  display:grid;
  grid-template-rows: 1fr 50px 1fr;
  grid-template-columns: 50px 1fr 50px;
  grid-template-areas:
  "icon void plus"
  "empty empty empty"
  "text text text"
}

#encuentraReciclar{
  margin: 0px 20px;
  grid-area: reciclar;
  width:300px;
  height:300px;
  background-color: green;
  border-radius: 30px;
  display:grid;
  grid-template-rows: 1fr 50px 1fr;
  grid-template-columns: 50px 1fr 50px;
  grid-template-areas:
  "icon void plus"
  "empty empty empty"
  "text text text"
}

#encuentraLlamados{
  margin: 0px 20px;
  grid-area: llamados;
  width:300px;
  height:300px;
  background-color:cyan;
  border-radius: 30px;
  display:grid;
  grid-template-rows: 1fr 50px 1fr;
  grid-template-columns: 50px 1fr 50px;
  grid-template-areas:
  "icon void plus"
  "empty empty empty"
  "text text text"
}

.icon{
  grid-area:icon;
  margin-left: 40px;
  margin-top: 20px;
}
.plusIcon{
  grid-area:plus;
  margin-top: 30px;
  margin-right: 40px;
}
.text{
  grid-area:text;
  color: white;
  font-size: 34px;
  margin-left: 20px;
}
#divActua{
  grid-area: actua;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 60vh;
  color: white;
  background-image: linear-gradient(
      0deg, 
      rgba(0,0,0,0.5),
      rgba(0,0,0,0.5)
  )
  ,url("../Materiales/manos.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  margin-top: 10px;
}
#h2Actua{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-variant: normal;
  font-weight: 100;
  font-size: 2em;
  margin-bottom: 10px;   
}
#pActua{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-variant: normal;
  font-weight: 50;
  font-size: 0.9em;
}
#head-container {
  display: flex;
  justify-content: center;
  align-items:center;
  margin: 10px 30px ;
  margin-right: 100px;
  font-family: 'DM Sans', sans-serif;
}
.img-logo{
  display: flex;
  align-items: center;
  height: 40px;
  margin-left: 0px;
  padding-right: 100px;
  padding-left: 100px;
  
}
a{
text-align: center;
text-decoration: none;
color: black;
font-weight: 800;
padding-right: 10px;
margin-right: 100px;
}
#ingresarButton{
display: inline-block;
justify-self: center;
cursor:pointer; 
padding: 8px 50px  ;
background-color: rgb(82,39,204);
color: white;
font-size: 20px;
border-radius: 30px;
font-weight: 100;
}

.items-links-ayuda{
padding-right: 300px;
}
.items-links-nosotros{
padding-left: 100px;
}


#divNoticias{
  background-color: rgb(82,152,255);
  color: white;
  text-align: center;
  display:grid;
  grid-template-rows: 100px 30px 30px 50px 1fr 100px;
  grid-template-areas: 
  "void"
  "title"
  "text"
  "spacing"
  "news"
  "buttons"
}

#noticiasTitle{
  text-align: bottom;
  grid-area: title;
  margin: 10px 0;
}
#noticiasText{
  grid-area: text;
  margin: 10px 0 20px 0;
}
#noticiasMain{
  grid-area:news;
  display: grid;
  grid-template-columns: 400px 1fr 1fr 1fr 1fr 400px;
  grid-template-areas: "emptyLeft noticia0 noticia1 noticia2 noticia3 emptyRight"
}

#noticiasSwitchButtons{
  display: grid;
  grid-area: buttons;
  grid-template-columns: 800px 1fr 1fr 1fr 800px;
  grid-template-areas: "leftEmpty button1 button2 button3 rightEmpty"
}

.noticiasButton{
  border-radius: 64px;
  height:64px;
  width: 64px;
  background-color:slategrey;
}

#button1{
  grid-area: button1;
}
#button2{
  grid-area: button2;
}
#button3{
  grid-area: button3;
}
.noticia{
  height: 400px;
  width: 250px;
  color: black;
  /*testing bg*/
  background-color:bisque;
  display: grid;
  border-radius: 20px;
  grid-template-rows: 150px 20px 20px 60px 1fr 10px;
  grid-template-areas:
  "img"
  "dateTime"
  "void"
  "title"
  "text"
  "verMas" 
}

.noticiaTitle{
  font-size: 22px;
  font-weight: 700;
}

.noticiaFecha{
  display:grid;
  grid-template-columns: 1fr 1fr;
}
.noticiaFechaSubido{
  display: grid;
  grid-template-columns: 21px 1fr;
  text-align: left;
  vertical-align: text-top;
}
.noticiaFechaTexto{
  margin:0;
}

.noticiaImg{
  width: 250px;
  height: 150px;
}

#ingresarDiv{

}

#screenDarkener{
  z-index: -1000;
  visibility:hidden;
  top:0;
  left:0;
  position:fixed;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
}

#ingresarDiv{
  height: 800px;
  width: 1000px;
  position:fixed;
  z-index: -1000;
  left:50%;
  top: 50%;
  margin-top: -400px;
  margin-left:-500px;
  visibility: hidden;
  display:grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "img main";
  border-radius: 40px;
}

#ingresarDivImg{
  height:800px;
  width:500px;
  grid-area:img;
  border-radius: 40px 0 0 40px;
}

#ingresarDivStuff{
  background-color: beige;
  width: 500px;
  display:grid;
  grid-template-columns: 1fr 32px;
  grid-template-rows: 32px 50px 1fr 1fr;
  border-radius: 0 40px 40px 0;
  grid-template-areas:
  "volver cerrar"
  "registrar registrar"
  "empresa empresa"
  "organizacion organizacion"
}

#volver{
  color:dimgray;
  grid-area: volver;
}
#ingresarDivCerrar{
  z-index: 4;
  height:32px;
  width:32px;
  position: relative;
  top:16px;
  right:16px;
  cursor:pointer; 
}

#ingresarDivTitle{
  font-weight: 700;
  font-size: 32px;
  text-align:center;
  grid-area:registrar;
}

.ingresarDivItem{
  border-radius:10px;
  height: 150px;
  margin:auto;
  width: 400px;
  display:grid; 
  grid-template-columns: 100px 1fr;
  grid-template-rows: 2fr 3fr 20px;
  grid-template-areas: 
  "icon title"
  "icon text"
  "icon flecha"
}

#ingresarDivEmpresa{
  grid-area:empresa;
}
#ingresarDivOrganizacion{
  grid-area:organizacion;
}

#ingresarDivEmpresaIcon{
  background-color:rgb(82,152,255);
}

#ingresarDivOrganizacionIcon{
  background-color:blueviolet;
}
.ingresarDivIcon{
  width:100%;
  height:100%;
  grid-area:icon;
  border-radius: 10px 0 0 10px;
}

.ingresarDivFlechaDiv{
  height:10px;
  grid-area:flecha;
}
.ingresarDivFlecha{
  position: relative;
  left:240px;
}

#ingresarDivIconImgEmpresa{
  height:32px;
  width:32px;
}

#ingresarDivIconImgOrganizacion{
  height:32px;
  width:32px;
}

.ingresarDivIconImgDiv{
  margin:auto;
  margin-top:50%;
  width:32px;
  height:32px;
}